{% extends 'core/layout.html' %}

{% block title %} Generated Password {% endblock %}

{% block body %}

<div class="container text-center" style="padding-top: 50px;">
    <div class="card">
        <div class="<div class=" card">
            <div class="card-header">
                Generated Password
            </div>
            <div class="card-body">
                <h1>Your password is:</h1>
                <h2 class="alert alert-success">{{ password }}</h2>
                <a href="{% url 'generator' %}" class="btn btn-info">Home</a>
            </div>
        </div>
    </div>

    {% endblock %}